[submodule "assets/blocks/jesse-james-wp-block-plugin-scaffold"]
	path = assets/blocks/jesse-james-wp-block-plugin-scaffold
	url = https://github.com/ev3rywh3re/jesse-james-wp-block-plugin-scaffold.git
