@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme variables */
:root {
  --mainColor: #066000;
}

/* Multisite Menu Styles */
.stg-multisite-header- {
  position: relative;
  z-index: 9998;
  width: 100%;
  grid-template-columns: 100px 1fr;
  background-color: #fff;
  top: 0;
  padding: 0.3em 0;
  margin: 0;
}

.site-header-fixed- {
  position: fixed;
}

.stg-logo-svg {
  width: 42px;
  height: auto;
}

.stg-ms-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
  height: 50px;
  padding: 1em;
}

.stg-ms-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.stg-ms-menu a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  color: #000;
  text-decoration: none;
}

.stg-ms-menu a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23066000' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.stg-ms-menu > li {
  margin: 0 1rem;
}

/* Adjust header position for logged-in users */
body.logged-in > .site-header-fixed- {
  top: 10px !important;
}

/* Fixing thihngs */

/* why wp overlays? */
.wp-block-post-featured-image .wp-block-post-featured-image__overlay.has-background-dim {
  display: none;
}